@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 86%; 
  margin: 0 auto;
}

a {
  color: black;
}

.heading h2 {
  width: fit-content;
  margin: 5rem auto;
  font-size: 1.7rem;
  padding: 15px 0;
}

 .heading-underline h2 {
   border-bottom: 7px solid #ccc;
}
/*=================================
  Header styling starts here
=================================*/

nav {
  background-color: #F1F1F1;
  /* padding: 20px 0; */
 
}
nav li a {
  transition: all .3s ease-in-out;
}

ul.main-nav {
  display: flex;
  justify-content: space-around;
}
nav ul li {
  text-align: center;
  flex-grow: 1;
}

nav ul li a {
  font-weight: 400;
  font-size: 1.3rem;
  padding: 10px 0;
  color: black;
  width: 100%;
}
nav ul li a:hover {
  background-color: black ;
}

nav ul li a:hover {
  color: #f1f1f1;
} 



/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/

/* Heading */
.page-heading h1 {
  font-size: 2.2rem;
  margin: 2rem 0;
  text-transform: uppercase;
  font-weight: 600;
}

.page-heading p {
  margin: 1.5rem 0;
}

/* carousel */
.carousel div img {
  height: 200px;
  width: auto;
}

/* What we offer */
.what-we-offer {
  margin: 5rem 0;
}
.offers {
  display: flex;
  flex-wrap: wrap;
}
.offer {
  flex-basis: 25%;
  /* padding: 20px; */
}
.offer h3 {
  font-size: 1.5rem;
  margin: 1rem 0;
}
.offer div {
  margin: 2rem 1.5rem;
}
.offer:nth-child(1) {
  background-color: #F1F1F1;
} 

.offer:nth-child(2) {
  background-color: #BBBBBB;
} 

.offer:nth-child(3) {
  background-color: #616161;
  color: white;
} 

.offer:nth-child(4) {
  color: white;
  background-color: #000000;
} 

/* Pricing */
.pricing-plans {
  margin: 5rem 0;
}
.pricing-heading {
  text-align: center;
  margin: 3rem 0;
}

.pricing-heading p {
  margin-top: -4rem;
}

.plans {
  display: flex;
  justify-content: space-between;
}
.plan {
  flex-basis: 32%;
  border: 1px solid #ccc;
}
.plan h3 {
  font-size: 1.7rem;
  background-color: black;
  color: white;
  text-align: center;
  padding: 30px 0;
}

.plan:nth-child(2) h3 {
  background-color:#616161;
}
.plan ul  {
  display: flex;
  flex-flow: column;
  /* align-items: center; */
}

.plan ul li {
  border-bottom: 1px solid #ccc;
  padding: 20px 0;
  text-align: center;
}
.plan .button-container {
  text-align: center;
  padding: 30px 0;
  background-color: #f1f1f1;
}

.plan .button-container button {
  background-color: #4CAF50;
  color: white;
  padding: 15px 30px;
  border: none;
  font-size: 1.2rem;
}

.plan .button-container button:hover {
  background-color: #62b465;
}

/* profiles */
.who-we-are {
  margin: 5rem 0;
}
.profiles {
  display: flex;
  justify-content: space-between;
}
.profile {
  flex-basis: 32%;
  box-shadow: 0px 2px 15px #ccc;
}
.profile-desc {
 padding: 20px;
}
.profile-desc h3 {
  font-size: 1.5rem;
  margin: 20px 0;
}

.profile-desc .title {
  color: rgb(128, 128, 128);
  margin: 20px 0;

}

.profile-desc button {
  /* display: block; */
  margin: 20px 0;
  width: 100%;
  border: none;
  background-color: #f1f1f1;
  padding: 15px 0;
  font-size: 1.2rem;
  transition: .3s all ease-out;
}

.profile-desc button:hover {

  box-shadow: 0px 2px 5px #ccc;
}
.profile img {  
   height: 200px;
  /* width: auto;  */
}

/* Contact us */
.contact-form  {
  margin: 4rem 0;
}
.contact-form form {
  display: flex;
  flex-flow: column;
}
.form-container {
  display: flex;
  flex-flow: column;
  margin: 20px 0;
  font-size: 1.2rem;
}

.form-container input[type='text'],
.form-container input[type='email']
 {
  padding: 15px 0;
  border: 1px solid #ccc;
}

.contact-form button {
  padding: 10px 0;
  background-color: black;
  color: white;
  border: none;
  font-size: 1.2rem;
  border: 1px solid black;
  transition: all .3s ease-out;
}

.contact-form button:hover {
  background-color: white;
  color: black;
}

/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 
footer {

  background-color: #f1f1f1;
  margin-top: 4rem ;
}
.footer {
  padding: 20px 0;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.footer * {
  margin: .7rem 0;
}
.footer h2 {
  margin-top: 2rem;
  font-size: 1.5rem;
}
.top-button {
  border: none;
  background-color: black;
  padding: 5px 20px;
  color: white;
  font-size: 1.1rem;
  border: 1px solid black;
  transition: .3s all ease-out;
}

.top-button:hover {
  background-color: white;
  color: black;
}
.footer ul li {
  /* font-size: 1.3rem; */
}
footer ul li i{
  color: #000 ;
  font-size: 2rem;
  cursor: pointer;
  padding-bottom: 5px;
  border-bottom: 2px solid transparent;
}

footer ul li i:hover{
  border-bottom: 2px solid black;
}
footer a {
  text-decoration: underline;
}

 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {



}  